
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.3.0/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* btnMyEvents */
#activityDetail_btnMyEvents {

}
.ui-btn.activityDetail_btnMyEvents {

}
/* activityContainer */
.ui-content.activityDetail_activityContainer {
	padding: 10px 10px 10px 10px;
}
/* lblId */
.activityDetail_lblId {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	display: none;
	word-wrap: break-word;
}
/* lblVenueId */
.activityDetail_lblVenueId {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	display: none;
	word-wrap: break-word;
}
/* bigGrid */
.activityDetail_bigGrid {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.activityDetail_bigGrid > tr > td {
	vertical-align: top;
}
.activityDetail_bigGrid_row_0, .activityDetail_bigGrid_row_0 > td {
	height: 30px
}
.activityDetail_bigGrid_row_1, .activityDetail_bigGrid_row_1 > td {
	height: 30px
}
.activityDetail_bigGrid_row_2, .activityDetail_bigGrid_row_2 > td {
	height: 30px
}
.activityDetail_bigGrid_row_3, .activityDetail_bigGrid_row_3 > td {
	height: 30px
}
.activityDetail_bigGrid_row_4, .activityDetail_bigGrid_row_4 > td {
	height: 30px
}
.activityDetail_bigGrid_row_5, .activityDetail_bigGrid_row_5 > td {
	height: 30px
}
.activityDetail_bigGrid_row_6, .activityDetail_bigGrid_row_6 > td {
	height: 30px
}
/* mobilegridcell_29 */
.activityDetail_mobilegridcell_29 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.activityDetail_mobilegridcell_29 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegrid_38 */
.activityDetail_mobilegrid_38 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.activityDetail_mobilegrid_38 > tr > td {
	vertical-align: top;
}
.activityDetail_mobilegrid_38_row_0, .activityDetail_mobilegrid_38_row_0 > td {
	height: 30px
}
.activityDetail_mobilegrid_38_row_1, .activityDetail_mobilegrid_38_row_1 > td {
	height: 30px
}
/* mobilegridcell_39 */
.activityDetail_mobilegridcell_39 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.activityDetail_mobilegridcell_39 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* lblActivityLongName */
.activityDetail_lblActivityLongName {
	text-decoration: none; font-weight: bold; text-align: left; font-family: Helvetica; font-size: 18px;
	margin: 2px 0px 2px 0px;
	word-wrap: break-word;
}
/* mobilegridcell_41 */
.activityDetail_mobilegridcell_41 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.activityDetail_mobilegridcell_41 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* lblActivityDescription */
.activityDetail_lblActivityDescription {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
}
/* mobilegridcell_33 */
.activityDetail_mobilegridcell_33 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.activityDetail_mobilegridcell_33 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegrid_45 */
.activityDetail_mobilegrid_45 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.activityDetail_mobilegrid_45 > tr > td {
	vertical-align: top;
}
.activityDetail_mobilegrid_45_row_0, .activityDetail_mobilegrid_45_row_0 > td {
	height: 30px
}
.activityDetail_mobilegrid_45_row_1, .activityDetail_mobilegrid_45_row_1 > td {
	height: 30px
}
/* mobilegridcell_46 */
.activityDetail_mobilegridcell_46 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.activityDetail_mobilegridcell_46 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegrid_50 */
.activityDetail_mobilegrid_50 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.activityDetail_mobilegrid_50 > tr > td {
	vertical-align: top;
}
.activityDetail_mobilegrid_50_row_0, .activityDetail_mobilegrid_50_row_0 > td {
	height: auto
}
/* mobilegridcell_51 */
.activityDetail_mobilegridcell_51 {
	height:auto !important;
	width:42px;
	padding: 2px 2px 2px 2px;
}
.activityDetail_mobilegridcell_51 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* lblAgeLabel */
.activityDetail_lblAgeLabel {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
}
/* mobilegridcell_52 */
.activityDetail_mobilegridcell_52 {
	height:auto !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.activityDetail_mobilegridcell_52 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* lblDisplayAgeRange */
.activityDetail_lblDisplayAgeRange {
	text-decoration: none; font-weight: bold; font-style: italic; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
}
/* mobilegridcell_47 */
.activityDetail_mobilegridcell_47 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.activityDetail_mobilegridcell_47 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegrid_57 */
.activityDetail_mobilegrid_57 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.activityDetail_mobilegrid_57 > tr > td {
	vertical-align: top;
}
.activityDetail_mobilegrid_57_row_0, .activityDetail_mobilegrid_57_row_0 > td {
	height: 30px
}
/* mobilegridcell_58 */
.activityDetail_mobilegridcell_58 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.activityDetail_mobilegridcell_58 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* lblTypeLabel */
.activityDetail_lblTypeLabel {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
}
/* mobilegridcell_59 */
.activityDetail_mobilegridcell_59 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.activityDetail_mobilegridcell_59 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* lblDisplayType */
.activityDetail_lblDisplayType {
	text-decoration: none; font-weight: bold; font-style: italic; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
}
/* mobilegridcell_48 */
.activityDetail_mobilegridcell_48 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.activityDetail_mobilegridcell_48 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegrid_70 */
.activityDetail_mobilegrid_70 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.activityDetail_mobilegrid_70 > tr > td {
	vertical-align: top;
}
.activityDetail_mobilegrid_70_row_0, .activityDetail_mobilegrid_70_row_0 > td {
	height: auto
}
/* mobilegridcell_71 */
.activityDetail_mobilegridcell_71 {
	height:auto !important;
	width:42px;
	padding: 2px 2px 2px 2px;
}
.activityDetail_mobilegridcell_71 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* ldblDayLabel */
.activityDetail_ldblDayLabel {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
}
/* mobilegridcell_72 */
.activityDetail_mobilegridcell_72 {
	height:auto !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.activityDetail_mobilegridcell_72 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* lblDisplayDay */
.activityDetail_lblDisplayDay {
	text-decoration: none; font-weight: bold; font-style: italic; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
}
/* mobilegridcell_49 */
.activityDetail_mobilegridcell_49 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.activityDetail_mobilegridcell_49 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegrid_77 */
.activityDetail_mobilegrid_77 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.activityDetail_mobilegrid_77 > tr > td {
	vertical-align: top;
}
.activityDetail_mobilegrid_77_row_0, .activityDetail_mobilegrid_77_row_0 > td {
	height: 30px
}
/* mobilegridcell_78 */
.activityDetail_mobilegridcell_78 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.activityDetail_mobilegridcell_78 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* lblDisplayTimeStart */
.activityDetail_lblDisplayTimeStart {
	text-decoration: none; font-weight: bold; font-style: italic; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
}
/* mobilegridcell_79 */
.activityDetail_mobilegridcell_79 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.activityDetail_mobilegridcell_79 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_175 */
.activityDetail_mobilelabel_175 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
}
/* mobilegridcell_174 */
.activityDetail_mobilegridcell_174 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.activityDetail_mobilegridcell_174 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* lblDisplayTimeEnd */
.activityDetail_lblDisplayTimeEnd {
	text-decoration: none; font-weight: bold; font-style: italic; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
}
/* mobilegridcell_35 */
.activityDetail_mobilegridcell_35 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.activityDetail_mobilegridcell_35 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegrid_64 */
.activityDetail_mobilegrid_64 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.activityDetail_mobilegrid_64 > tr > td {
	vertical-align: top;
}
.activityDetail_mobilegrid_64_row_0, .activityDetail_mobilegrid_64_row_0 > td {
	height: 30px
}
/* mobilegridcell_65 */
.activityDetail_mobilegridcell_65 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.activityDetail_mobilegridcell_65 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* lblDisplayNarrative */
.activityDetail_lblDisplayNarrative {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 2px 0px 2px 0px;
	word-wrap: break-word;
}
/* mobilegridcell_37 */
.activityDetail_mobilegridcell_37 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.activityDetail_mobilegridcell_37 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegrid_159 */
.activityDetail_mobilegrid_159 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.activityDetail_mobilegrid_159 > tr > td {
	vertical-align: top;
}
.activityDetail_mobilegrid_159_row_0, .activityDetail_mobilegrid_159_row_0 > td {
	height: 30px
}
.activityDetail_mobilegrid_159_row_1, .activityDetail_mobilegrid_159_row_1 > td {
	height: 30px
}
/* mobilegridcell_160 */
.activityDetail_mobilegridcell_160 {
	height:30px !important;
	width:75px;
	padding: 2px 2px 2px 2px;
}
.activityDetail_mobilegridcell_160 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* lblPhone */
.activityDetail_lblPhone {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
}
/* mobilegridcell_161 */
.activityDetail_mobilegridcell_161 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.activityDetail_mobilegridcell_161 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* lblActivityPhone */
.activityDetail_lblActivityPhone {
	text-decoration: none; font-weight: bold; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
}
/* mobilegridcell_162 */
.activityDetail_mobilegridcell_162 {
	height:30px !important;
	width:75px;
	padding: 2px 2px 2px 2px;
}
.activityDetail_mobilegridcell_162 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* lblLink */
.activityDetail_lblLink {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
}
/* mobilegridcell_163 */
.activityDetail_mobilegridcell_163 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.activityDetail_mobilegridcell_163 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mlblActivityLink */
.activityDetail_mlblActivityLink {
	text-decoration: none; font-weight: bold; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
}
/* mobilegridcell_89 */
.activityDetail_mobilegridcell_89 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.activityDetail_mobilegridcell_89 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilecheckboxgroup_85 */
.activityDetail_mobilecheckboxgroup_85 {
	margin: 4px 0px 4px 0px;
}
/* chkFree */
.activityDetail_chkFree {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* chkBooking */
.activityDetail_chkBooking {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* chkLimitedPlaces */
.activityDetail_chkLimitedPlaces {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* mobilegridcell_128 */
.activityDetail_mobilegridcell_128 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.activityDetail_mobilegridcell_128 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* collapsblockVenue */
.activityDetail_collapsblockVenue {
	margin: 4px 0px 4px 0px;
}
.activityDetail_collapsblockVenue .ui-collapsible-content {
	padding: 2px 2px 2px 5px;
}
/* grdAddress */
.activityDetail_grdAddress {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.activityDetail_grdAddress > tr > td {
	vertical-align: top;
}
.activityDetail_grdAddress_row_0, .activityDetail_grdAddress_row_0 > td {
	height: 30px
}
.activityDetail_grdAddress_row_1, .activityDetail_grdAddress_row_1 > td {
	height: 30px
}
.activityDetail_grdAddress_row_2, .activityDetail_grdAddress_row_2 > td {
	height: 30px
}
/* mobilegridcell_94 */
.activityDetail_mobilegridcell_94 {
	height:30px !important;
	width:auto;
	padding: 0px 0px 0px 0px;
}
.activityDetail_mobilegridcell_94 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegrid_99 */
.activityDetail_mobilegrid_99 {
	height: auto;
	width:100%;
	margin: 0px 0px 0px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.activityDetail_mobilegrid_99 > tr > td {
	vertical-align: top;
}
.activityDetail_mobilegrid_99_row_0, .activityDetail_mobilegrid_99_row_0 > td {
	height: auto
}
.activityDetail_mobilegrid_99_row_1, .activityDetail_mobilegrid_99_row_1 > td {
	height: 30px
}
.activityDetail_mobilegrid_99_row_2, .activityDetail_mobilegrid_99_row_2 > td {
	height: 30px
}
/* mobilegridcell_100 */
.activityDetail_mobilegridcell_100 {
	height:auto !important;
	width:auto;
	padding: 0px 0px 0px 0px;
}
.activityDetail_mobilegridcell_100 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* lblVenueAddress */
.activityDetail_lblVenueAddress {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 0px 0px 0px 0px;
	word-wrap: break-word;
}
/* mobilegridcell_102 */
.activityDetail_mobilegridcell_102 {
	height:30px !important;
	width:auto;
	padding: 0px 0px 0px 0px;
}
.activityDetail_mobilegridcell_102 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegrid_169 */
.activityDetail_mobilegrid_169 {
	height: auto;
	width:100%;
	margin: 0px 0px 0px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.activityDetail_mobilegrid_169 > tr > td {
	vertical-align: top;
}
.activityDetail_mobilegrid_169_row_0, .activityDetail_mobilegrid_169_row_0 > td {
	height: auto
}
/* mobilegridcell_170 */
.activityDetail_mobilegridcell_170 {
	height:auto !important;
	width:auto;
	padding: 0px 0px 0px 0px;
}
.activityDetail_mobilegridcell_170 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* lblVenueBorough */
.activityDetail_lblVenueBorough {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 0px 0px 0px 0px;
	word-wrap: break-word;
}
/* mobilegridcell_171 */
.activityDetail_mobilegridcell_171 {
	height:auto !important;
	width:auto;
	padding: 0px 0px 0px 0px;
}
.activityDetail_mobilegridcell_171 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* lblVenuePostCode */
.activityDetail_lblVenuePostCode {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 0px 0px 0px 0px;
	word-wrap: break-word;
}
/* mobilegridcell_104 */
.activityDetail_mobilegridcell_104 {
	height:30px !important;
	width:auto;
	padding: 0px 0px 0px 0px;
}
.activityDetail_mobilegridcell_104 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* lblVenueAccess */
.activityDetail_lblVenueAccess {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 0px 0px 0px 0px;
	word-wrap: break-word;
}
/* mobilegridcell_96 */
.activityDetail_mobilegridcell_96 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.activityDetail_mobilegridcell_96 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegrid_110 */
.activityDetail_mobilegrid_110 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.activityDetail_mobilegrid_110 > tr > td {
	vertical-align: top;
}
.activityDetail_mobilegrid_110_row_0, .activityDetail_mobilegrid_110_row_0 > td {
	height: 30px
}
/* grdCellTransport */
.activityDetail_grdCellTransport {
	height:30px !important;
	width:80px;
	padding: 2px 2px 2px 2px;
}
.activityDetail_grdCellTransport > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* lblTransport */
.activityDetail_lblTransport {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 2px 0px 2px 0px;
	word-wrap: break-word;
}
/* mobilegridcell_112 */
.activityDetail_mobilegridcell_112 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.activityDetail_mobilegridcell_112 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* lblVenueTransport */
.activityDetail_lblVenueTransport {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 2px 0px 2px 0px;
	word-wrap: break-word;
}
/* mobilegridcell_109 */
.activityDetail_mobilegridcell_109 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.activityDetail_mobilegridcell_109 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* chkboxgrpFacilities */
.activityDetail_chkboxgrpFacilities {
	margin: 2px 0px 2px 0px;
}
/* chkBabyChanging */
.activityDetail_chkBabyChanging {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* chkBottleWarming */
.activityDetail_chkBottleWarming {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* chkLiftAccess */
.activityDetail_chkLiftAccess {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* chkStepFree */
.activityDetail_chkStepFree {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* chkRefreshments */
.activityDetail_chkRefreshments {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* chkBuggyParking */
.activityDetail_chkBuggyParking {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* chkBreastFeeding */
.activityDetail_chkBreastFeeding {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* chkVendingMachine */
.activityDetail_chkVendingMachine {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* mobilegridcell_158 */
.activityDetail_mobilegridcell_158 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.activityDetail_mobilegridcell_158 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* collapsblockReviews */
.activityDetail_collapsblockReviews {
	margin: 2px 0px 2px 0px;
}
.activityDetail_collapsblockReviews .ui-collapsible-content {
	padding: 5px 5px 5px 5px;
}
/* grdReview */
.activityDetail_grdReview {
	height: auto;
	width:100%;
	margin: 0px 0px 0px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.activityDetail_grdReview > tr > td {
	vertical-align: top;
}
.activityDetail_grdReview_row_0, .activityDetail_grdReview_row_0 > td {
	height: 30px
}
/* mobilegridcell_133 */
.activityDetail_mobilegridcell_133 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.activityDetail_mobilegridcell_133 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegrid_137 */
.activityDetail_mobilegrid_137 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.activityDetail_mobilegrid_137 > tr > td {
	vertical-align: top;
}
.activityDetail_mobilegrid_137_row_0, .activityDetail_mobilegrid_137_row_0 > td {
	height: 30px
}
.activityDetail_mobilegrid_137_row_1, .activityDetail_mobilegrid_137_row_1 > td {
	height: 30px
}
.activityDetail_mobilegrid_137_row_2, .activityDetail_mobilegrid_137_row_2 > td {
	height: 30px
}
/* mobilegridcell_138 */
.activityDetail_mobilegridcell_138 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.activityDetail_mobilegridcell_138 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegrid_143 */
.activityDetail_mobilegrid_143 {
	height: auto;
	width:100%;
	margin: 0px 0px 0px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.activityDetail_mobilegrid_143 > tr > td {
	vertical-align: top;
}
.activityDetail_mobilegrid_143_row_0, .activityDetail_mobilegrid_143_row_0 > td {
	height: 30px
}
/* mobilegridcell_144 */
.activityDetail_mobilegridcell_144 {
	height:30px !important;
	width:54px;
	padding: 0px 2px 0px 2px;
}
.activityDetail_mobilegridcell_144 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* lblRating */
.activityDetail_lblRating {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 0px 0px 0px 0px;
	word-wrap: break-word;
}
/* mobilegridcell_145 */
.activityDetail_mobilegridcell_145 {
	height:30px !important;
	width:auto;
	padding: 0px 2px 0px 2px;
}
.activityDetail_mobilegridcell_145 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* lblReviewRating */
.activityDetail_lblReviewRating {
	text-decoration: none; font-weight: bold; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 0px 0px 0px 0px;
	word-wrap: break-word;
}
/* mobilegridcell_140 */
.activityDetail_mobilegridcell_140 {
	height:30px !important;
	width:auto;
	padding: 0px 2px 0px 2px;
}
.activityDetail_mobilegridcell_140 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* txtReviewNarrative */
.activityDetail_txtReviewNarrative {
	margin: 0px 0px 0px 0px;
}
/* mobilegridcell_142 */
.activityDetail_mobilegridcell_142 {
	height:30px !important;
	width:auto;
	padding: 0px 0px 0px 0px;
}
.activityDetail_mobilegridcell_142 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegrid_151 */
.activityDetail_mobilegrid_151 {
	height: auto;
	width:100%;
	margin: 0px 0px 0px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.activityDetail_mobilegrid_151 > tr > td {
	vertical-align: top;
}
.activityDetail_mobilegrid_151_row_0, .activityDetail_mobilegrid_151_row_0 > td {
	height: 30px
}
/* mobilegridcell_152 */
.activityDetail_mobilegridcell_152 {
	height:30px !important;
	width:auto;
	padding: 0px 2px 0px 2px;
}
.activityDetail_mobilegridcell_152 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* lblReviewUserName */
.activityDetail_lblReviewUserName {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 0px 0px 0px 0px;
	word-wrap: break-word;
}
/* mobilegridcell_153 */
.activityDetail_mobilegridcell_153 {
	height:30px !important;
	width:auto;
	padding: 0px 2px 0px 2px;
}
.activityDetail_mobilegridcell_153 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* ldbReviewDateTime */
.activityDetail_ldbReviewDateTime {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 0px 0px 0px 0px;
	word-wrap: break-word;
}
/* mobilefooter1 */
.activityDetail_mobilefooter1 {
	min-height:38px;
}